/* header style */

.flex {
    display: flex;
}
#layout {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    z-index: 99;
    margin: 0%;
}

#layout div:nth-child(1) {

    flex-basis: 40%;
    height: 10vh;
    text-align: left;

}
#layout div:nth-child(2) {
    flex-basis: 60%;
    /* border: 1px solid red; */
    height: 10vh;
    text-align: right;
    margin-right: 7%;
    
}
#layout div:nth-child(1) > img {
    width: 135px;
    height: 40px;
    padding: 2.3% 10%;


}
#nav_menu {
    display: inline-block;
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 35%;
         
}
#nav_menu li {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 0% 2%;
    color:#293240 ;
}

.hamburger_menu {
    display: none;
}
#option_cont{
    margin-top: -14px;
}

@media only screen and (max-width: 1000px) {

    #layout div:nth-child(2) > .hamburger_menu {
        display: block;
        position: relative;
        height: 100%;
        top: 28%;
        
        margin-right: -4.5%;
        
        
    }

    #nav_menu {
        display: none;
    }

    .hamburger_menu > img {
        width: 25px;
    }
    

}

.meet_the_team{
    font-size: 28px;
}
.text_align{
    text-align: center;
}
.center{
    margin: auto;
}
/*cont for team faces*/
#team_cont{
    display: grid;
    width: 90%;
    border: 1px solid none;
    /* height: 100%; */
    margin-top: 8%;
    grid-template-columns: auto auto auto auto;
    grid-template: "face_1 face_2 face_3 face_4"
    "face_5 face_6 face_7 face_8"
    "face_9 face_10 face_11 face_12"
    "face_13 face_14 face_15 face_16"
    "face_17 face_18 face_19 face_20"
    "face_21 face_22 face_23 face_24"
    "face_25 face_26 face_27 face_28";
    gap: 40px;
}
/* face div specs*/
.team_face_div{
    /* width: 70%; */
    /* height: 89%; */
    /* margin: 14%; */
    /* border: 1px solid none; */
    padding: 15%;
}
#face_1{
    grid-area: face_1;
}
#face_2{
    grid-area: face_2;
}
#face_3{
    grid-area: face_3;
}
#face_4{
    grid-area: face_4;
}
#face_5{
    grid-area: face_5;
}
#face_6{
    grid-area: face_6;
}
#face_7{
    grid-area: face_7;
}
#face_8{
    grid-area: face_8;
}
#face_1{
    grid-area: face_1;
}
#face_9{
    grid-area: face_9;
}
#face_10{
    grid-area: face_10;
}
#face_11{
    grid-area: face_11;
}
#face_12{
    grid-area: face_12;
}
#face_13{
    grid-area: face_13;
}
#face_14{
    grid-area: face_14;
}
#face_15{
    grid-area: face_15;
}
#face_16{
    grid-area: face_16;
}
#face_17{
    grid-area: face_17;
}
#face_18{
    grid-area: face_18;
}
#face_19{
    grid-area: face_19;
}
#face_20{
    grid-area: face_20;
}
#face_21{
    grid-area: face_21;
}
#face_22{
    grid-area: face_22;
}
#face_23{
    grid-area: face_23;
}
#face_24{
    grid-area: face_24;
}
#face_25{
    grid-area: face_25;
}
#face_26{
    grid-area: face_26;
}
#face_27{
    grid-area: face_27;
}
#face_28{
    grid-area: face_28;
}
@media only screen and (max-width: 700px){
    #team_cont{
        grid-template:"face_1 face_2"
     "face_3 face_4"
    "face_5 face_6"
     "face_7 face_8"
    "face_9 face_10"
     "face_11 face_12"
    "face_13 face_14"
     "face_15 face_16"
    "face_17 face_18"
     "face_19 face_20"
    "face_21 face_22"
    "face_23 face_24"
    "face_25 face_26"
    "face_27 face_28" ;
    }
    .team_face_div{
    padding: 3%;
   }
}
.face_image{
    width: 100%;
    /* height: 67%; */
}
.team_face_div h2,p{
    text-align: center;
}
.team_face_div p{
    color: gray;
}
#grey_div{
    width: 100%;
    height: 98%;
    border: 1px solid white;
    background-color: rgb(238, 238, 253);
    margin-top: 30px;
}
#fortunate_div{
    width: 90%;
    height: 12%;
    border: 1px solid none;
    margin-top: 100px;
    text-align: center;
    color: gray;
    font-size: 30px;
}
#last_div{
    display: grid;
    width: 88%;
    height: 60%;
    border: 1px solid none;
    grid-template: "tras_div gv_div fund_div";
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 45px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 80px;
}
#last_div > div{
    /* width: 30%; */
    height: 98%;
    border: 1px solid none;
}
#tras_div{
    grid-area: tras_div;
}
#gv_div{
    grid-area: gv_div;
}
#fund_div{
    grid-area: fund_div;
}
.face_image2{
    width: 82%;
    height: 45%;
    margin-left: 8%;
}
#gv{
    width:48%;
    margin-left: 30%;
}
#fund{
    width: 70%;
    margin-left: 15%;
}
#tras{
    width: 79%;
}
#last_div p{
    margin-top: 35px;
}
#final_div{
    width: 100%;
    height: 55%;
    border: 1px solid none;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 70% 25%;
    grid-template: "a b";
}
#final_div >div{
    height: 90%;
    border: 1px solid none;
    margin: 20px;
}
#final_div > div:nth-child(1){
    grid-area: a;
}
#final_div > div:nth-child(2){
    grid-area: b;
}
#explore_btn{
    /* width: 68%; */
    width: 240px; /* button resposiveness*/
    height: 60px;
    border-radius: 40px;
    background-color: #9a76d0;
    border-color: #9a76d0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 95px;
    margin-left: 60px;
}
#look_div h1{
    font-size: 40px;
    font-family: sans-serif;
    color: #293240;
}
#look_div h3{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    color: gray;
}
.text_space1{
    margin-top: 90px;
    margin-left: 15px;
}
.text_space2{
    margin-left: 15px;
}
@media only screen and (max-width: 780px){
    #last_div{
        grid-template: "tras_div"
        "gv_div"
        "fund_div";
    }
    /* gv image responsiveness */
    #gv{
        width: 20%;
        margin-left: 40%;
    }
}
/* tab resposiveness for final_div*/
@media only screen and (max-width: 990px){
    #final_div{
        grid-template: "a"
        "b";
    }
    #explore_btn{
        margin-top: 40px;
        /* margin-left: 260px; */
        margin-left: 35%;
    }
}
.btnhover:hover {opacity: .7}
a {
    text-decoration: none;
}

#credit_bar div:nth-child(1) {
    text-align: center;
    flex-basis: 100%;
    padding: 5% 0% 0% 0%;
    color: #dfdbdb;

}

#footer  {

    background-image: url('https://assets.website-files.com/5e6c01bb5212506d6c119069/5e6edcb60f8bc32556bae915_footer-bg.png');
    width: auto;
    padding: 4% 1% 4% 4%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


}

.flex {
    display: flex;
}

.fotr_col_1 > img {

    width: 150px;
    height: 25px;

}
.main_row div {

    padding: 2% 2%;

}

.fotr_col_1 {
    flex-basis: 46%;
    text-align: left;

}
.fotr_col_2 {
    flex-basis: 9%;
    margin: 0px;

}
.fotr_col_3 {
    flex-basis: 8%;
    margin: 0px;

}
.fotr_col_4 {
    flex-basis: 11%;
    margin: 0px;

}
.fotr_col_5 {
    flex-basis: 27%;
    margin: 0px;

}
.main_row div li {
    list-style: none;
    padding: 8px 0px;
    color: #bdbaba;
    font-size: 16px;
}

.main_row h3 {
    padding: 10px 0px;
    color: #648294;
    font-size: 18px;
}
.fotr_col_1 li {
    display: inline-block;
    background-color: #636A72;
    width: 37px;
    height: 20px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 99px;
}
.fotr_col_1 li img {
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 2px 2px;
}
#share_icon {
    padding: 27px 0px ;
}
.fotr_col_1 h3 {
    padding-top: 25px;
}
.fotr_col_1 li:hover {
    color: #fff;
}
#footer div:nth-child(1) > div:nth-child(1)   li:hover {
    background-color: #767d88;
}
#footer li:hover{
    color:#fff
}



@media only screen and (max-width: 980px) {

    .main_row {
        display: flex;
        flex-wrap: wrap;
        
    }

    .fotr_col_1 {
        flex-basis: 100%;
        text-align: center;

    }
    .fotr_col_2 {
    flex-basis: 12%;
    margin: 0% 0% 0% 8%;

    }
    .fotr_col_3 {
        flex-basis: 12%;
        margin: 0px;

    }
    .fotr_col_4 {
        flex-basis: 16%;
        margin: 0px;

    }
    .fotr_col_5 {
        flex-basis: 35%;
        margin: 0px;


    }
}

@media only screen and (max-width: 768px) {

    .main_row {
        display: flex;
        flex-wrap: wrap;
        
    }

    .fotr_col_1 {
        flex-basis: 100%;
        text-align: center;

    }
    .fotr_col_2 {
    flex-basis: 40%;
    margin: 0% 0% 0% 8%;

    }
    .fotr_col_3 {
        flex-basis: 40%;
        margin: 0px;
        

    }
    .fotr_col_4 {
        flex-basis: 40%;
        margin: 0% 0% 0% 8%;
        

    }
    .fotr_col_5 {
        flex-basis: 40%;
        margin: 0px;


    }

}
